body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

#square {
  background-color: #88d8c0;
  color: pink;
  border-radius: 10px;
  font-family: montserrat;
  font-size: 150px;
  height: 200px;
  width: 400px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.animation {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  opacity: 0;
  animation-duration:1s;
}

#countingfinal {
  font-size: 80px;
  line-height: inherit;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes counting {
    0% {
        opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
        opacity:0;
    }
}

@keyframes appearing {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#square {
    animation-duration:1s;
    animation-name: appearing;
    animation-fill-mode: forwards;
}

#counting10 {
  animation-delay: 2s;
  animation-name: counting;
}

#counting9 {
  animation-delay: 3s;
  animation-name: counting;
}

#counting8 {
  animation-delay: 4s;
  animation-name: counting;
}

#counting7 {
  animation-delay: 5s;
  animation-name: counting;
}

#counting6 {
  animation-delay: 6s;  
  animation-name: counting;
}

#counting5 {
  animation-delay: 7s;
  animation-name: counting;
}

#counting4 {
  animation-delay: 8s;
  animation-name: counting;
}

#counting3 {
  animation-delay: 9s;
  animation-name: counting;
}

#counting2 {
  animation-delay: 10s;
  animation-name: counting;
}

#counting1 {
  animation-delay: 11s;
  animation-name: counting;
}

#countingfinal {
  animation-delay: 12s;
  animation-name: appearing;
  animation-fill-mode: forwards;
}

#countingfinal span {
  color:pink;
}
